body {
  overflow-x: hidden; }
  body > .row {
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  body > .row:first-child {
    background-image: url("../images/background.jpg"); }
    body > .row:first-child > section {
      height: 100%; }
    body > .row:first-child article {
      color: #c0787b; }

.girls {
  position: absolute;
  width: 100%;
  bottom: 15px;
  left: 10%; }
  .girls img {
    height: 300px;
    margin-left: 30px;
    float: left;
    cursor: pointer;
    position: relative; }

aside {
  position: fixed;
  top: 50px;
  right: 10px; }
  aside li {
    display: block !important;
    cursor: pointer; }

.centerBlock {
  position: absolute;
  width: 600px;
  height: 450px;
  top: 50%;
  left: 50%;
  margin-top: -225px;
  margin-left: -300px;
  background-color: #8c4846; }
  .centerBlock .glyphicon-remove {
    cursor: pointer;
    float: right;
    color: red;
    font-size: 20px;
    padding: 10px 10px 0 0; }
  .centerBlock iframe {
    width: 100%;
    height: 410px;
    padding: 10px 10px; }

.tooltip .tooltip-inner {
  background-color: #8C4846;
  font-size: 16px;
  padding: 5px; }

.tooltip.top .tooltip-arrow {
  border-top-color: #8C4846; }
