body {
    overflow-x: hidden;
}

    body .row {
        margin: 0px;
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

        body .row:first-child {
            background-image: url("../images/background.jpg");
        }

            body .row:first-child > section {
                height: 100%;
            }

            body .row:first-child article {
                max-height: 400px;
                overflow-y: scroll;
                color: #c0787b;
            }

        body .row:nth-child(2) {
            background-image: url("../images/secondBackground.jpg");
        }

            body .row:nth-child(2) > section {
                height: 100%;
            }

.girls {
    position: absolute;
    width: 100%;
    bottom: 15px;
    left: 10%;
}

    .girls img {
        height: 250px;
        margin-left: 30px;
        float: left;
        cursor: pointer;
        position: relative;
    }

aside {
    position: fixed;
    top: 50px;
    right: 10px;
}

    aside li {
        display: block !important;
        cursor: pointer;
        margin-top: 20px;
    }

.centerBlock {
    position: absolute;
    width: 600px;
    height: 450px;
    top: 50%;
    left: 50%;
    margin-top: -225px;
    margin-left: -300px;
    background-color: #8c4846;
}

    .centerBlock .glyphicon-remove, .fa-close {
        cursor: pointer;
        float: right;
        color: white;
        font-size: 24px;
        padding: 5px 5px 25px 0;
    }

    .centerBlock iframe {
        width: 100%;
        height: 410px;
        padding: 10px 10px;
    }

.tooltip .tooltip-inner {
    background-color: transparent;
    color: #8C4846;
    font-size: 16px;
    font-weight: 600;
    padding: 5px;
}

.tooltip.top .tooltip-arrow {
    border-top-color: transparent;
}

.feast {
    position: absolute;
    width: 700px;
    height: 500px;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -350px;
}

#secondPageDescription {
    width: 300px; 
    padding-top: 20px;
    padding-left: 15px;
}

.feast img {
    position: absolute;
    float: left;
    cursor: pointer;
}

.feast .tamada img:first-child {
    top: -55px;
    left: 60px;
}

.feast .tamada img:last-child {
    top: 0;
    left: 20px;
}

.feast .lawyer img:first-child {
    top: -35px;
    left: 150px;
}

.feast .lawyer img:last-child {
    top: 45px;
    left: 138px;
}

.feast .policeman img:first-child {
    top: -70px;
    left: 207px;
}

.feast .policeman img:last-child {
    top: 5px;
    left: 257px;
}

.feast .doctor img:first-child {
    top: -40px;
    left: 330px;
}

.feast .doctor img:last-child {
    top: 33px;
    left: 320px;
}

.feast .psychologist img:first-child {
    top: -50px;
    left: 430px;
}

.feast .psychologist img:last-child {
    top: 20px;
    left: 480px;
}

.feast .teacher img:first-child {
    top: -50px;
    left: 570px;
}

.feast .teacher img:last-child {
    top: 60px;
    left: 590px;
}

.feast .table img {
    bottom: 0px;
}

.featsContent {
    width: calc(100% - 700px);
    position: absolute;
    right: -100%;
    height: 100vh;
    min-width: 50%;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 20px 30px;
    z-index: 1;
    top: 0;
    background-color: rgba(255, 255, 255, 0.5);
}

p {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-weight: 800;
}

h3 {
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Comfortaa', cursive;
    font-weight: 300;
}

.featsContent article {
    padding-right: 60px;
}

.featsContent .glyphicon-remove {
    cursor: pointer;
    float: right;
    color: white;
    font-size: 24px;
    padding: 10px 10px 0 0;
}

::-webkit-scrollbar {
    width: 12px; /* for vertical scrollbars */
    height: 12px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
}


.featsContent article iframe {
    margin-left: calc(50% - 280px);
}


#aboutUs {
    width: 600px;
    height: 350px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -180px;
    background-color: #8C4846;
    color: white;
}

    #aboutUs article {
        padding: 50px 20px;
    }

    #aboutUs .glyphicon-remove, #gallery .glyphicon-remove {
        cursor: pointer;
        color: white;
        padding: 10px;
        float: right;
        font-size: 20px;
    }

#gallery {
    width: 90%;
    position: fixed;
    left: 5%;
    top: 0px;
    height: 100vh;
    background-color: #8C4846;
    overflow-y: scroll;
}

    #gallery img {
        height: 200px;
        margin-top: 15px;
    }
