$textColor: #c0787b;

@mixin background() {
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

@mixin background-image($url) {
background-image: url("../images/background.jpg");
}

@mixin centerBlock($width, $height) {
position: absolute;
width: $width;
height: $height;
top: 50%;
left: 50%;
margin-top: -$height/2;
margin-left: -$width/2;
}
 
body {
overflow-x: hidden;

.row {
margin:0px;
height: 100vh;
@include background();
}

.row:first-child {
@include background-image("../images/background.jpg");


> section {
height: 100%;
}

article {
color: $textColor;
}
}

.row:nth-child(2) {
background-image: url('../images/secondBackground.jpg');

> section {
height: 100%;
}
}
}

.girls {
position: absolute;
width: 100%;
bottom: 15px;
left: 10%;

img {
height: 300px;
margin-left: 30px;
float: left;
cursor: pointer;
position: relative;
}
}

aside {
position: fixed;
top: 50px;
right: 10px;

li {
display: block !important;
cursor: pointer;
}
}

.centerBlock {
@include centerBlock(600px, 450px);
background-color: rgba(140,72,70,1);

.glyphicon-remove {
cursor: pointer;
float: right;
color: red;
font-size: 20px;
padding: 10px 10px 0 0;
}

iframe {
width: 100%;
height: 410px;
padding: 10px 10px;
}
}

.tooltip .tooltip-inner {
background-color: #8C4846;
font-size: 16px;
padding: 5px;
}

.tooltip.top .tooltip-arrow {
border-top-color: #8C4846;
}

.feast {
@include centerBlock(700px, 500px);

img {
position: absolute;
float: left;
cursor: pointer;
}

.tamada {
img:first-child {
top: -45px;
left: -50px;
}

img:last-child {
top: 0px;
left: 20px;
}
}

.lawyer {
img:first-child {
top: -45px;
left: 88px;
}

img:last-child {
top: 45px;
left: 138px;
}
}

.policeman {

img:first-child {
top: -70px;
left: 207px;
}

img:last-child {
top: 5px;
left: 257px;
}
}

.doctor {
img:first-child {
top: -50px;
left: 320px;
}

img:last-child {
top: 33px;
left: 320px;
}
}

.psychologist {
img:first-child {
top: -50px;
left: 430px;
}

img:last-child {
top: 20px;
left: 480px;
}
}

.teacher {
img:first-child {
top: -50px;
left: 570px;
}

img:last-child {
top: 60px;
left: 590px;
}
}

.table img {
bottom: 0px;
}
}
